* {
    margin: 0;
    padding: 0;
}

nav {
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

main {
    height: 85vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
}

footer {
    height: 5vh;
    background-color: black;
}
